<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PreciousBond</title>
    <link rel="stylesheet" href="../styles/common.css"> <!-- Link to your CSS file -->
    <link rel="stylesheet" href="../styles/notes.css"> <!-- Link to your CSS file -->
</head>
<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a href="index.html" class="navbar-brand">PreciousBond</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="notes.html" class="nav-link">My Notes</a></li>
            <li class="nav-item"><a href="write.html" class="nav-link">Write</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Community</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Blogs</a></li>
            <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="blogs">
    <div class="container">
        <div class="row no-gutters">
        <div class="col-xl-6 col-12 mb-5 mb-xl-0">
            <div class="media media-news">
            <div class="media-img">
                <img src="../images/note1.jpg" alt="Generic placeholder image" class="img-fluid">
            </div>
            <div class="media-body">
                <span class="media-date">1 June 2023</span>
                <h5 class="mt-0 sep">You said "I love you Mama!"</h5>
                <p>Such a beautiful day. We played car race, train runs and mixing yogurt with juice chemistry.</p>
                <a href="blog-post-right-sidebar.html" class="btn btn-transparent">View More</a>
            </div>
            </div>
        </div>
        
        <div class="col-xl-6 col-12">
            <div class="media media-news">
            <div class="media-img">
                <img src="../images/note2.jpg" alt="Generic placeholder image" class="img-fluid">
            </div>
            <div class="media-body">
                <span class="media-date">31 May 2023</span>
                <h5 class="mt-0 sep"> Daddy peekaboo!!</h5>
                <p>You started to search for your daddy while he is at work. Running around house with your tiny steps, saying "are you daddy?"</p>
                <a href="blog-post-right-sidebar.html" class="btn btn-transparent">View More</a>
            </div>
            </div>
        </div>
        </div>

        <div class="row no-gutters mt-4">
        <div class="col-xl-6 col-12 mb-5 mb-xl-0">
            <div class="media media-news">
            <div class="media-img">
                <img src="../images/note3.jpg" alt="Generic placeholder image" class="img-fluid">
            </div>
            <div class="media-body">
                <span class="media-date">30 May 2023</span>
                <h5 class="mt-0 sep">You turned 2 my bundle of joy!</h5>
                <p>You are the best thing that happened in our lives. Grow healthy and happy my little boy! </p>
                <a href="blog-post-right-sidebar.html" class="btn btn-transparent">View More</a>
            </div>
            </div>
        </div>
        
        <div class="col-xl-6 col-12">
            <div class="media media-news">
            <div class="media-img">
                <img src="../images/note4.jpg" alt="Generic placeholder image" class="img-fluid">
            </div>
            <div class="media-body">
                <span class="media-date">13 August 2018</span>
                <h5 class="mt-0 sep"> Tincidunt dui ornare</h5>
                <p>Facilisi morbi tempus iaculis urna id volutpat lacus. Mi eget mauris pharetra et. Fermentum iaculis</p>
                <a href="blog-post-right-sidebar.html" class="btn btn-transparent">View More</a>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    <footer>
        <div class="container"></div>
    </footer>
</body>
</html>

