/* Common styles for both index.html and about.html */

/* Body styles */
html,
body {
  height: 100%;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #edede9;
  color: #333333;
  display: flex;
  flex-direction: column;
}

/* Header styles */
header {
  background-color: #d6ccc2;
  padding-top: 20px;
}

.navbar-brand {
  color: #333333;
  font-weight: bold;
  font-size: 24px;
}

.navbar-nav {
  margin-left: auto;
}

.nav-link {
  color: #333333;
  font-weight: bold;
  margin-left: 15px;
}

/* Footer styles */
footer {
  background-color: #d5bdaf;
  padding: 20px;
  text-align: center;
  color: #ffffff;
  margin-top: auto; /* Add this line to fill the remaining space */
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  /* Adjust styles for smaller screens */
}
